.custom-mid{
    padding: 0em 0em !important;
}
.pos-mid{
    width: 75%;
position: fixed;
left: 50%;
margin-left: -37.5%;
}

.green-filter{
    background: rgba(76, 175, 80, 0.3)
}
.blue-filter{
    
}
.red-filter{
    
}
.none-filter{
    
}
.bold{
    font-weight: bold;
}
.small-padding{
    padding: 3em 1em !important ;
}
.font-big{
    font-size: 0.6em;
    color: #48a030;
    border: 1px solid #48a030;
}
.font-bigger{
    font-size: 1em;
    color: #48a030;
    border: 1px solid #48a030;
}
.font-h2{
    font-size: 1.8em;
}
.no-border{
    border: none !important;
}
.modal-text{
    font-size: 22px; 
    display: block; 
    width: 100%; 
    padding: 1px 10px; 
    background: none; 
    background-image: none; 
    color: #ffffff; 
    border-radius: 0; 
    -webkit-transition: border-color .25s ease, box-shadow .25s ease; 
    transition: border-color .25s ease, box-shadow .25s ease; 
}
.modal-text-border{
    border: 3px solid #a0b3b0; 
    width: 100%;
}
.text-green{
    color: #66ff66;
}
.text-blue{
    color: #80dfff;
}
.text-red{
    color: #ff6666;
}
.text-white{
    color: #ffffff;
}
.display-bk{
    display: inline-block;
    width: 100%;
}
.underline{
    background: #00cc00;
    height: 2px;
    position: absolute;
    width: 8%;
    top: -11%;
}
.align-center{
    text-align: center;
}